---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1/project/mtchavez/circleci/tree/master?circle-token=123
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-33e1a1cb
      X-Circleci-Request-Id:
      - f421686a-9071-4272-851a-b707b8f723c3
      X-Circleci-Scopes:
      - ":none"
      - ":status"
      - ":view-builds"
      X-Route:
      - "/tree/:branch"
      - ":branch"
      - "[^,;?]+"
    body:
      encoding: ASCII-8BIT
      string: '[{"compare":"https://github.com/mtchavez/circleci/compare/a065eb9c99a4...2a1111e72de8","previous_successful_build":null,"build_parameters":null,"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-09-24T18:33:57-07:00","body":"-
        Update changelog\n- Update gemspec version\n- Update checksum rake task\n-
        Add gem checksum","usage_queued_at":"2016-09-25T01:35:17.555Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/280","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":"2016-09-24T18:33:57-07:00","why":"github","user":{"is_user":false,"login":"mtchavez","vcs_type":"github"},"vcs_revision":"2a1111e72de8ad6242f48f13b72f26bd20bf5264","vcs_tag":null,"build_num":280,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","has_artifacts":true,"previous":{"build_num":278,"status":"success","build_time_millis":69797},"status":"success","committer_name":"Chavez","retries":null,"subject":"Update
        gem for v1.0.2","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"finished","no_dependency_cache":false,"stop_time":"2016-09-25T01:36:03.344Z","ssh_disabled":false,"build_time_millis":52912,"circle_yml":{"string":"machine:\n  ruby:\n    version:
        2.2.3\n"},"messages":[],"is_first_green_build":false,"job_name":null,"start_time":"2016-09-25T01:35:10.432Z","canceler":null,"all_commit_details":[{"committer_date":"2016-09-24T18:25:56-07:00","body":"","branch":"master","author_date":"2016-09-24T18:25:56-07:00","committer_email":"matthew@el-chavez.me","commit":"8fe65fa89b1b5a6a9a66c993f520b0bd28838b1b","committer_login":"mtchavez","committer_name":"Chavez","subject":"Update
        markdown header styling","commit_url":"https://github.com/mtchavez/circleci/commit/8fe65fa89b1b5a6a9a66c993f520b0bd28838b1b","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"},{"committer_date":"2016-09-24T18:33:57-07:00","body":"-
        Update changelog\n- Update gemspec version\n- Update checksum rake task\n-
        Add gem checksum","branch":"master","author_date":"2016-09-24T18:33:57-07:00","committer_email":"matthew@el-chavez.me","commit":"2a1111e72de8ad6242f48f13b72f26bd20bf5264","committer_login":"mtchavez","committer_name":"Chavez","subject":"Update
        gem for v1.0.2","commit_url":"https://github.com/mtchavez/circleci/commit/2a1111e72de8ad6242f48f13b72f26bd20bf5264","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"outcome":"success","vcs_url":"https://github.com/mtchavez/circleci","author_name":"Chavez","node":null,"queued_at":"2016-09-25T01:35:10.366Z","canceled":false,"author_email":"matthew@el-chavez.me"},{"compare":"https://github.com/mtchavez/circleci/compare/a065eb9c99a4...2a1111e72de8","previous_successful_build":null,"build_parameters":null,"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-09-24T18:33:57-07:00","body":"-
        Update changelog\n- Update gemspec version\n- Update checksum rake task\n-
        Add gem checksum","usage_queued_at":"2016-09-25T01:35:09.542Z","fail_reason":null,"retry_of":null,"reponame":"circleci[...]
